
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img alt="Image placeholder" src="/static/assets/img/brand/dark.svg" id="navbar-logo">
            </a>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" style="position:absolute; right:30px" id="navbarCollapse">
                <a class="nav-link" href="http://10.1.1.102:12345/">Web monitoring server</a>
            </div>
        </div>
    </nav>
