
{% block content %}
<div class="col-xl-4 col-sm-6">
    <div class="card">
        <div class="d-flex p-5">
            <div>
                {% if card.type == 'warning' %}
                <span class="badge badge-danger badge-pill">Down</span>
                {% elif card.type == 'alert' %}
                <span class="badge badge-warning badge-pill">Error</span>
                {% elif card.type == 'ok' %}
                <span class="badge badge-success badge-pill">Ok</span>
                {% endif %}
            </div>
            <div class="pl-3">
                <!-- align items horizontally -->
                <h5 class="lh-130">{{ card.title }}</h5>
                <div class="d-flex">
                    <a href="/app/{{card.title}}">
                        <button class="btn btn-sm btn-outline-primary" >
                            <p class="text-muted mb-0">
                                Try it!
                            </p>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="pb-5">
            <img src="../../static/assets/img/svg/illustrations/illustration-7.svg" class="img-fluid img-center" style="height:200px" alt="Illustration">
        </div>
    </div>
</div>
{% endblock content %}